.header-section {
  margin: -23px 0px 50px 0px;
  height: 500px;
  width: 100%;
  background-color: #50a3a2;
  max-width: 100%;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  overflow: hidden;
}

.header-text {
  color: rgba(white, .9);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title-subtext {
  margin-top: -10px;
  color: inherit;
}

.bg-bubbles{
  position: relative;
  top: 0;
  left: 0;
  padding: 0px;
  width: 100%;
  height: 100%;

  z-index: 1;

  li{
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(white, .15);
    bottom: -80px;
    left: 5%;

    -webkit-animation: square 25s infinite;
    animation:         square 25s infinite;

    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;

    &:nth-child(1){
      left: 10%;
    }

    &:nth-child(2){
      left: 20%;

      width: 80px;
      height: 80px;

      animation-delay: 2s;
      animation-duration: 17s;
    }

    &:nth-child(3){
      left: 25%;
      animation-delay: 4s;
    }

    &:nth-child(4){
      left: 40%;
      width: 60px;
      height: 60px;

      animation-duration: 22s;

      background-color: fade(white, 25%);
    }

    &:nth-child(5){
      left: 70%;
    }

    &:nth-child(6){
      left: 80%;
      width: 120px;
      height: 120px;
      bottom: -150px;

      animation-delay: 3s;
      background-color: fade(white, 20%);
    }

    &:nth-child(7){
      bottom: -170px;
      left: 32%;
      width: 160px;
      height: 160px;

      animation-delay: 7s;
    }

    &:nth-child(8){
      left: 55%;
      width: 20px;
      height: 20px;

      animation-delay: 15s;
      animation-duration: 40s;
    }

    &:nth-child(9){
      left: 25%;
      width: 10px;
      height: 10px;

      animation-delay: 2s;
      animation-duration: 40s;
      background-color: fade(white, 30%);
    }

    &:nth-child(10){
      bottom: -170px;
      left: 90%;
      width: 160px;
      height: 160px;

      animation-delay: 11s;
    }
  }
}
@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}
